        .button {
        padding: 15px 25px;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #04AA6D;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }
    
    .button:hover {
        background-color: #3e8e41
    }
    
    .button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
    
    div.sticky {
        position: absolute;
        width: 50%;
        bottom: 10px;
        left: 45%;
    }
    
    table,
    th,
    td {
        border: 0.1px solid black;
        border-collapse: collapse;
        text-align: center;